# Policy that enforces the geoblock middleware by default on public ingress
# except if the label worldwide_access is present
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: add-annotation-to-traefik-tunnel-ingress
spec:
  rules:
    - name: add-annotation-to-all
      match:
        resources:
          kinds:
            - Ingress
          selector:
            matchExpressions:
              - key: worldwide_access
                operator: DoesNotExist
      preconditions:
        all:
          - key: "{{ request.object.spec.ingressClassName }}"
            operator: Equals
            value: "traefik-tunnel"
      mutate:
        patchStrategicMerge:
          metadata:
            annotations:
              traefik.ingress.kubernetes.io/router.middlewares: ingress-geoblock@kubernetescrd
    - name: remove-annotation-to-wolrdwide
      match:
        resources:
          kinds:
            - Ingress
          selector:
            matchExpressions:
              - key: worldwide_access
                operator: Exists
      preconditions:
        all:
          - key: "{{ request.object.spec.ingressClassName }}"
            operator: Equals
            value: "traefik-tunnel"
      mutate:
        patchesJson6902: |-
          - op: remove
            path: /metadata/annotations/traefik.ingress.kubernetes.io~1router.middlewares
