apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: policy-reporter
spec:
  interval: 24h
  url: https://kyverno.github.io/policy-reporter
sops:
  age:
    - recipient: age16xc3m2q69s2le4hah3pcne50qn6mljhgc9mxekskwf0mp8fc0vaq5q5dz2
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBNL1YzUFBaL05vRERzSkF1
        d0NnT1pYR2k4VWFrLzFzaThQYnE1S0VvUENvCmUraVM5TUtaRm9GbWtEazQ1eG5N
        NGw5SXR3eU5oK2VXa1l4bzd5TVM4Q28KLS0tIGRiZ1c0ZTFnUXNiUzlCLzV0QWk0
        cGdnQzhjQ3VjbmFlMEdzUXJUU1NNa00KE1jh2atKz6Eh6KXPp5PFm93nPN71Haiu
        okYjqj5WHVCfbyCNZg//P2HjQWcZDL7K/4qg1b6vOZIXL8uXbikutA==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-11-08T09:42:15Z"
  mac: ENC[AES256_GCM,data:O8L+FtgXMOWKYXoQMRTlh/S7lHb6twRzDmKC1f1WN3wmxXKr/Me4wf81xUiBVk3CPJ7saT5kM72criFI6NYss0Ngg9HHZ/gH5qlZ3XKDonrrrutJWEhgiKC6M7vb4+Vf6LRjbZUk1LcIFP3F8RnZL+CA9lTpt1PR5dz7oKdcC2M=,iv:3/9gR2s0GZGtCe4rgycZIEQE40y2k+j1C9D4OYMCOMA=,tag:A2Id9wnY+o3SAJJPheR0vg==,type:str]
  encrypted_regex: (token|email|^data$|^stringData$|webhook$|creds$|secrets$)
  version: 3.11.0
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: policy-reporter
  namespace: kyverno
spec:
  interval: 10m
  timeout: 20m
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: policy-reporter
      version: 3.5.0
      sourceRef:
        kind: HelmRepository
        name: policy-reporter
  values:
    sourceFilters:
      - selector:
          source: Kyverno Event
      - selector:
          source: kyverno
    ui:
      enabled: false
    target:
      discord:
        webhook: ENC[AES256_GCM,data:UQxLsxFqkQ10zSXsDwCf2drOyulYi+e5rZIZesTzGx0dKmswMhV2eexiM47fczf4UmiIuPMiTCe2d/F9BQGa1yk8yh/hwdKYl5RtNt1bZubvG3WwiU6rAQx1q3kguW6s9KcqRC55Bsxwzj9369OQe0tO6ZAqUw8CLQ==,iv:tkxCjlTegCsDZlhnxXLQWmHwgOBL8ynVzdDBHCwJl/k=,tag:w7nfHTzFsmPgncXQelWa+g==,type:str]
        skipExistingOnStartup: true
        minimumPriority: info
sops:
  age:
    - recipient: age16xc3m2q69s2le4hah3pcne50qn6mljhgc9mxekskwf0mp8fc0vaq5q5dz2
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBNL1YzUFBaL05vRERzSkF1
        d0NnT1pYR2k4VWFrLzFzaThQYnE1S0VvUENvCmUraVM5TUtaRm9GbWtEazQ1eG5N
        NGw5SXR3eU5oK2VXa1l4bzd5TVM4Q28KLS0tIGRiZ1c0ZTFnUXNiUzlCLzV0QWk0
        cGdnQzhjQ3VjbmFlMEdzUXJUU1NNa00KE1jh2atKz6Eh6KXPp5PFm93nPN71Haiu
        okYjqj5WHVCfbyCNZg//P2HjQWcZDL7K/4qg1b6vOZIXL8uXbikutA==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-11-08T09:42:15Z"
  mac: ENC[AES256_GCM,data:O8L+FtgXMOWKYXoQMRTlh/S7lHb6twRzDmKC1f1WN3wmxXKr/Me4wf81xUiBVk3CPJ7saT5kM72criFI6NYss0Ngg9HHZ/gH5qlZ3XKDonrrrutJWEhgiKC6M7vb4+Vf6LRjbZUk1LcIFP3F8RnZL+CA9lTpt1PR5dz7oKdcC2M=,iv:3/9gR2s0GZGtCe4rgycZIEQE40y2k+j1C9D4OYMCOMA=,tag:A2Id9wnY+o3SAJJPheR0vg==,type:str]
  encrypted_regex: (token|email|^data$|^stringData$|webhook$|creds$|secrets$)
  version: 3.11.0
