apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rathole
spec:
  interval: 24h
  chart:
    spec:
      chart: appchart
      version: 1.8.0
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 1h
  values:
    apps:
      - name: rathole
        image: gitea.cocointhe.cloud/coco/rathole:2025.10.06.a89edfc@sha256:8806c02ece928153c0293a776a23e0c41a4312ed332b71655568cf23442f630a
        containerSpec:
          args:
            - --client
            - /client.toml
        volumeMounts:
          - name: rathole-config
            mountPath: /client.toml
            subPath: client.toml
        volumes:
          - name: rathole-config
            secret:
              secretName: rathole-config