apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: ingress
spec:
  interval: 24h
  url: https://traefik.github.io/charts
---
# LAN traefik for all services 
# is default ingressclass
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: ingress
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: traefik
      version: "38.0.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 1h
  releaseName: traefik
  targetNamespace: ingress
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  values:
    checkNewVersion: false
    sendAnonymousUsage: false
    tlsStore:
      default:
        certificates:
          - secretName: wildcard-cocointhe-cloud-tls
          - secretName: wildcard-staging-cocointhe-cloud-tls
    service:
      enabled: true
      type: LoadBalancer
      spec:
        externalTrafficPolicy: Local
    logs:
      general:
        level: "ERROR"  
    ingressClass:
      enabled: true
      isDefaultClass: true
      name: "traefik"
    providers:
      kubernetesCRD:
        enabled: true
      kubernetesIngress:
        enabled: true
        ingressClass: "traefik"
        publishedService:
          enabled: false
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
---
# specific traefik for routing traffic from WAN
# only listens for ingressclass 'traefik-tunnel' and exposed internally
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-tunnel
  namespace: ingress
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: traefik
      version: "38.0.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 1h
  releaseName: traefik-tunnel
  targetNamespace: ingress
  values:
    checkNewVersion: false
    sendAnonymousUsage: false
    service:
      enabled: true
      type: ClusterIP
    ingressClass:
      enabled: true
      isDefaultClass: false
      name: "traefik-tunnel"
 
    tlsStore:
      default:
        certificates:
          - secretName: wildcard-cocointhe-cloud-tls
    providers:
      kubernetesCRD:
        enabled: true
      kubernetesIngress:
        ingressClass: "traefik-tunnel"
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        forwardedHeaders:
          trustedIPs: ["10.42.1.0/24"]
        proxyProtocol:
          trustedIPs: ["10.42.1.0/24"]
    metrics:
      prometheus:
        service:
          enabled: true
        entryPoint: metrics
        addServicesLabels: true
        addRoutersLabels: true
    logs:
      format: "json"
      access:
        enabled: true
        format: "json"
        fields:
          headers:
            defaultmode: drop
            names:
              User-Agent: keep
              X-Forwarded-For: keep
