apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: waf
spec:
  interval: 24h
  chart:
    spec:
      chart: appchart
      version: 1.8.0
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 1h
  values:
    apps:
      - name: dummy
        image: traefik/whoami@sha256:200689790a0a0ea48ca45992e0450bc26ccab5307375b41c84dfc4f2475937ab
        service: 80
      - name: waf
        image: owasp/modsecurity-crs:4.23.0-nginx-alpine-202602050102@sha256:6ff707062dc9342b5ce303a1fc0cf21c49d6fb35c7b6a8e339d335b67fce1ed6
        service: 8080
        env:
        - name: ALLOWED_METHODS
          value: GET HEAD POST OPTIONS DELETE PUT PATCH
        - name: BLOCKING_PARANOIA
          value: "1"
        - name: ANOMALY_INBOUND
          value: "5"
        - name: ANOMALY_OUTBOUND
          value: "5"
        - name: BACKEND
          value: "http://dummy"