apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: cert-manager
spec:
  interval: 24h
  url: https://charts.jetstack.io
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: cert-manager
      version: v1.19.1
      sourceRef:
        kind: HelmRepository
        name: cert-manager
      interval: 1h
  releaseName: cert-manager
  values:
    crds:
      enabled: true
    podDnsPolicy: "None"
    podDnsConfig:
      nameservers:
        - 1.1.1.1
        - 1.0.0.1