apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
spec:
  interval: 10m
  chart:
    spec:
      chart: appchart
      version: "1.8.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: jellyfin
        image: ghcr.io/jellyfin/jellyfin:10.11.6@sha256:25db4eb10143c1c12adb79ed978e31d94fc98dc499fbae2d38b2c935089ced3e
        volumeMounts:
          - name: jellyfin-cache
            mountPath: /cache
          - name: jellyfin-config
            mountPath: /config
          - name: jellyfin-shows
            mountPath: /data/shows
          - name: jellyfin-music
            mountPath: /data/music

        volumes:
          - name: jellyfin-cache
            persistentVolumeClaim:
              claimName: jellyfin-longhorn-cache
          - name: jellyfin-config
            persistentVolumeClaim:
              claimName: jellyfin-longhorn-config
          - name: jellyfin-music
            persistentVolumeClaim:
              claimName: jellyfin-music
          - name: jellyfin-shows
            persistentVolumeClaim:
              claimName: jellyfin-shows

        service: 8096
        pvc:
          - jellyfin-music
          - jellyfin-shows

        ingress:
          domain: jellyfin.cocointhe.cloud
          public: true

# jellyfin internals are stored in longhorn rather than sqlite 
# due to comcurrency errors when using nfs.
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-longhorn-config
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-longhorn-cache
spec:
  storageClassName: longhorn
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
