apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metube
spec:
  interval: 10m
  chart:
    spec:
      chart: appchart
      version: "1.5.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: metube
        image: ghcr.io/alexta69/metube:2026.02.08@sha256:56b69fefbc6cd8610eb1d8201ecd5d66caa984799608d5e12897bd630c3d625a
        env:
        - name: DOWNLOAD_DIR
          value: /downloads/shows
        - name: AUDIO_DOWNLOAD_DIR
          value: "/downloads/music" 

        service: 8081
        ingress:
          domain: tube.cocointhe.cloud
        volumeMounts:
          - name: jellyfin-shows
            mountPath: /downloads/shows
          - name: jellyfin-music
            mountPath: /downloads/music
        volumes:
          - name: jellyfin-shows
            persistentVolumeClaim:
              claimName: jellyfin-shows
          - name: jellyfin-music
            persistentVolumeClaim:
              claimName: jellyfin-music