apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: blog
spec:
  interval: 24h
  chart:
    spec:
      chart: appchart
      version: "1.5.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 1h
  values:
    apps:
      - name: blog
        image: gitea.cocointhe.cloud/coco/blog:2025.08.19.f67afb0
        service: 8080
        anubis: true
        ingress:
          public: true
          domain: blog.cocointhe.cloud
