apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: blog
spec:
  interval: 24h
  chart:
    spec:
      chart: appchart
      version: "1.5.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 1h
  values:
    apps:
      - name: blog
        image: gitea.cocointhe.cloud/coco/blog:2025.08.19.f67afb0@sha256:4b24bd37dc8f3ca51c52571f0a9ebc331c57801b2775b8e9f44e8cda0952da6d
        service: 8080
        anubis: true
        ingress:
          public: true
          domain: blog.cocointhe.cloud
