apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: grafana
spec:
  interval: 24h
  url: https://grafana.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 10m
  chart:
    spec:
      chart: grafana
      version: "10.3.2"
      sourceRef:
        kind: HelmRepository
        name: grafana
      interval: 10m
  values:
    service:
      port: 3000
    image:
      repository: grafana/grafana
      tag: 12.3.1@sha256:2175aaa91c96733d86d31cf270d5310b278654b03f5718c59de12a865380a31f
    persistence:
      enabled: true
      size: 100Mi
    grafana.ini:
      auth.anonymous:
        enabled: true
        org_name: Public
        org_role: Viewer
        hide_version: true
      analytics:
        check_for_updates: false
        reporting_enabled: false
      news:
        news_feed_enabled: false
      metrics:
        enabled: false
      server:
        domain: grafana.cocointhe.cloud
        root_url: https://grafana.cocointhe.cloud/

---
# private ingress for
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana
  namespace: cloud

spec:
  ingressClassName: traefik
  rules:
    - host: grafana.cocointhe.cloud
      http:
        paths:
          - backend:
              service:
                name: grafana
                port:
                  number: 3000
            path: /
            pathType: Prefix
  tls:
    - hosts:
        - grafana.cocointhe.cloud
---
# public ingress only for solar data
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana-tunnel
  namespace: cloud
spec:
  ingressClassName: traefik-tunnel
  rules:
    - host: grafana.cocointhe.cloud
      http:
        paths:
          - backend:
              service:
                name: grafana
                port:
                  number: 3000
            path: /
            pathType: Prefix
