apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: landingpage
spec:
  interval: 24h
  chart:
    spec:
      chart: appchart
      version: "1.8.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 1h
  values:
    apps:
      - name: landingpage
        image: gitea.cocointhe.cloud/coco/landing-page@sha256:84222530a6620e663d2b0c280e093e668fcfe328a1b1e1295c383133499f8cb7
        service: 8080
        ingress:
          public: true
          domain: cocointhe.cloud
