apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: memos
spec:
  interval: 24h
  chart:
    spec:
      chart: appchart
      version: "1.8.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 1h
  values:
    apps:
      - name: memos
        image: ghcr.io/usememos/memos:0.26.1@sha256:806abfd3743a23dc9f2dfc2b19e5f1464a8e1d79ad4ad8eeb4545cf288bbf137
        service: 5230
        ingress:
          domain: journal.cocointhe.cloud
        env:
          - name: MEMOS_PORT
            value: "5230"
        volumeMounts:
          - name: memos-data
            mountPath: /var/opt/memos
        volumes:
          - name: memos-data
            persistentVolumeClaim:
              claimName: memos-data
        pvc:
          - memos-data
