apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pairdrop
spec:
  interval: 24h
  chart:
    spec:
      chart: appchart
      version: "1.7.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 1h
  values:
    apps:
      - name: pairdrop
        image: ghcr.io/schlagmichdoch/pairdrop:v1.11.2
        service: 3000
        ingress:
          domain: drop.cocointhe.cloud
          public: true