apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pyramid-push
spec:
  interval: 24h
  chart:
    spec:
      chart: appchart
      version: "1.7.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 1h
  values:
    apps:
      - name: pyramid-push
        image: gitea.cocointhe.cloud/coco/pyramidpush:2025.09.12.52477da@sha256:9dfac4ce64f19bd047077b9c69d39374556b2797d380c17d176400fa99ec1388
        service: 80
        ingress:
          public: true
          domain: pyramid.cocointhe.cloud
