apiVersion: apps/v1
kind: Deployment
metadata:
  name: adguard
spec:
  selector:
    matchLabels:
      app: adguard
  template:
    metadata:
      labels:
        app: adguard
    spec:
      hostNetwork: true # for the dhcp server
      containers:
        - name: adguard
          image: adguard/adguardhome:v0.107.71
          volumeMounts:
            - mountPath: "/opt/adguardhome/conf"
              name: adguard-data
            - mountPath: "/opt/adguardhome/work"
              name: adguard-data
          livenessProbe:
            exec:
              command:
                - nslookup
                - cocointhe.cloud
                - 192.168.1.10
            initialDelaySeconds: 10
            periodSeconds: 2
            failureThreshold: 4
      volumes:
        - name: adguard-data
          persistentVolumeClaim:
            claimName: adguard-data

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: adguard-data
spec:
  resources:
    requests:
      storage: 100Mi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: adguard-dns
  name: adguard-dns
spec:
  ports:
  - port: 53
    protocol: UDP
    targetPort: 53
  selector:
    app: adguard
  type: LoadBalancer