apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: filebrowser
spec:
  interval: 1h
  chart:
    spec:
      chart: appchart
      version: "1.5.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: filebrowser
        image: ghcr.io/gtsteffaniak/filebrowser:1.1.4-beta@sha256:830bbafee8a70838753e4e54d41cefc3a58e7a8f73189a442309fc95cce71877
        volumeMounts:
          - name: filebrowser-data
            mountPath: /data
          - name: filebrowser-config
            mountPath: /home/filebrowser/config.yaml
            subPath: config.yaml
        volumes:
          - name: filebrowser-data
            persistentVolumeClaim:
              claimName: filebrowser-data
          - name: filebrowser-config
            secret:
              secretName: filebrowser-config
        service: 8080
        ingress:
          domain: files.cocointhe.cloud
        pvc:
          - filebrowser-data
