apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: filebrowser
spec:
  interval: 1h
  chart:
    spec:
      chart: appchart
      version: "1.5.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: filebrowser
        image: ghcr.io/gtsteffaniak/filebrowser:1.0.1-beta@sha256:38b58c74d72304b829ed8fc14baf189fbd3bfa468c1b1cc3d114e4f47123d67c
        volumeMounts:
          - name: filebrowser-data
            mountPath: /data
          - name: filebrowser-config
            mountPath: /home/filebrowser/config.yaml
            subPath: config.yaml
        volumes:
          - name: filebrowser-data
            persistentVolumeClaim:
              claimName: filebrowser-data
          - name: filebrowser-config
            secret:
              secretName: filebrowser-config
        service: 8080
        ingress:
          domain: files.cocointhe.cloud
        pvc:
          - filebrowser-data
