apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gitea
spec:
  interval: 24h
  chart:
    spec:
      chart: appchart
      version: "1.8.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 1h
  values:
    apps:
      - name: gitea
        image: gitea/gitea:1.25.4-rootless@sha256:1926e89ad28358ef2146bb8a1b9c3ba24bae681cb02b72d2df11125fdc675abe
        service: 3000
        deploymentSpec:
          strategy:
            type: Recreate
        ingress:
          domain: gitea.cocointhe.cloud
        env:
          - name: GITEA_RUNNER_REGISTRATION_TOKEN
            valueFrom:
              secretKeyRef:
                name: gitea-ci-token
                key: token
        pvc:
          - gitea-data
          - gitea-conf
        volumeMounts:
          - name: gitea-data
            mountPath: /var/lib/gitea
          - name: gitea-conf
            mountPath: /etc/gitea
        volumes:
          - name: gitea-data
            persistentVolumeClaim:
              claimName: gitea-data
          - name: gitea-conf
            persistentVolumeClaim:
              claimName: gitea-conf
      - name: runner
        image: gitea/act_runner:0.3.0-dind-rootless@sha256:1d70d183cbe87a1461cd2f91730e8073a41bdeaa05949328217401dd4f7c8eb1
        env:
          - name: GITEA_INSTANCE_URL
            value: "http://gitea:3000"
          - name: DOCKER_HOST
            value: unix:///var/run/user/1000/docker.sock
          - name: GITEA_RUNNER_LABELS
            value: "ubuntu-latest:docker://gitea.cocointhe.cloud/coco/ci-runner"
          - name: GITEA_RUNNER_REGISTRATION_TOKEN
            valueFrom:
              secretKeyRef:
                name: gitea-ci-token
                key: token
        containerSpec:
          securityContext:
            privileged: true