apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: motion
spec:
  interval: 24h
  chart:
    spec:
      chart: appchart
      version: "1.8.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 1h
  values:
    apps:
      - name: motion
        image: gitea.cocointhe.cloud/coco/motion:v0.2.0
        volumeMounts:
          - name: motion-data
            mountPath: /data
        volumes:
          - name: motion-data
            persistentVolumeClaim:
              claimName: filebrowser-data
