apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
spec:
  interval: 10m
  chart:
    spec:
      chart: appchart
      version: "1.6.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: n8n
        image: ghcr.io/n8n-io/n8n:2.3.0@sha256:86818ab591423129251677c49e290ea0b9d2c757dc150a16d15ec207e09b102d
        env:
          - name: N8N_PORT
            value: "5678"
          - name: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
            value: "true"
          - name: N8N_LISTEN_ADDRESS
            value: 0.0.0.0
        volumeMounts:
          - name: n8n-data
            mountPath: /home/node/.n8n
        volumes:
          - name: n8n-data
            persistentVolumeClaim:
              claimName: n8n-data
        service: 5678
        ingress:
          domain: n8n.cocointhe.cloud
        pvc:
          - n8n-data
