apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
spec:
  interval: 10m
  chart:
    spec:
      chart: appchart
      version: "1.5.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: n8n
        image: ghcr.io/n8n-io/n8n:1.123.6@sha256:4571f82bc16be9979bb262db4a9a2d782e6059724272b605845347a0f840deb1
        env:
          - name: N8N_PORT
            value: "5678"
          - name: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
            value: "true"
          - name: N8N_LISTEN_ADDRESS
            value: 0.0.0.0
        volumeMounts:
          - name: n8n-data
            mountPath: /home/node/.n8n
        volumes:
          - name: n8n-data
            persistentVolumeClaim:
              claimName: n8n-data
        service: 5678
        ingress:
          domain: n8n.cocointhe.cloud
        pvc:
          - n8n-data
