apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
spec:
  interval: 10m
  chart:
    spec:
      chart: appchart
      version: "1.8.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: n8n
        image: ghcr.io/n8n-io/n8n:2.8.3@sha256:53004142b0e93de1e9e31943e601ed9bd4b24ca82a307864ccadf1820b627e5e
        env:
          - name: N8N_PORT
            value: "5678"
          - name: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
            value: "true"
          - name: N8N_LISTEN_ADDRESS
            value: 0.0.0.0
        volumeMounts:
          - name: n8n-data
            mountPath: /home/node/.n8n
        volumes:
          - name: n8n-data
            persistentVolumeClaim:
              claimName: n8n-data
        service: 5678
        ingress:
          domain: n8n.cocointhe.cloud
        pvc:
          - n8n-data
