apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pocket-id
spec:
  interval: 10m
  chart:
    spec:
      chart: appchart
      version: "1.5.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: pocket-id
        image: ghcr.io/pocket-id/pocket-id:v1.16.0@sha256:f8cde808e8e840acda25683fc2168e0206e3f3fb1a48cca89d211aafd87eaeef
        volumeMounts:
          - name: pocketid-data
            mountPath: /app/data
        env:
          - name: APP_URL
            value: https://pocketid.cocointhe.cloud
          - name: TRUST_PROXY
            value: "true"
          - name: PUID
            value: "1000"
          - name: PGID
            value: "1000"

        volumes:
          - name: pocketid-data
            persistentVolumeClaim:
              claimName: pocketid-data
        service: 1411
        ingress:
          domain: pocketid.cocointhe.cloud
          public: true
        pvc:
          - pocketid-data
