apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate
spec:
  schedule: "0,15,30 19 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          volumes:
          - name: renovate-cache
            persistentVolumeClaim:
              claimName: renovate-cache
          containers:
            - name: renovate
              image: renovate/renovate:42.81.13@sha256:e92e04abadf8c44469b4a4b489fd0f5f0e91779179d9436eef5492e6613d151e
              args:
                - k0rventen/lampone
              envFrom:
                - secretRef:
                    name: renovate-env
              volumeMounts:
              - mountPath: "/tmp/renovate"
                name: renovate-cache
          restartPolicy: Never

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: renovate-cache
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi