apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate
spec:
  schedule: "0,15,30 19 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          volumes:
          - name: renovate-cache
            persistentVolumeClaim:
              claimName: renovate-cache
          containers:
            - name: renovate
              image: renovate/renovate:42.1.3@sha256:724220885785c57898d5709624eceddb012d8f63ac08a8f718aa77c13ca621bc
              args:
                - k0rventen/lampone
              envFrom:
                - secretRef:
                    name: renovate-env
              volumeMounts:
              - mountPath: "/tmp/renovate"
                name: renovate-cache
          restartPolicy: Never

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: renovate-cache
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi