apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
spec:
  interval: 10m
  chart:
    spec:
      chart: appchart
      version: "1.8.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: vaultwarden
        image: vaultwarden/server:1.35.2@sha256:d89a6d21e361254670c24a4272b4b5f245e402c284f2f55de2c379fdbcfa1fa5
        volumeMounts:
          - name: vaultwarden-data
            mountPath: /data
        volumes:
          - name: vaultwarden-data
            persistentVolumeClaim:
              claimName: vaultwarden-data
        service: 80
        ingress:
          domain: vaultwarden.cocointhe.cloud
        pvc:
          - vaultwarden-data
