apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
spec:
  interval: 10m
  chart:
    spec:
      chart: appchart
      version: "1.5.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: vaultwarden
        image: vaultwarden/server:1.35.1@sha256:1d43c6754a030861f960fd4dab47e1b33fc19f05bd5f8f597ab7236465a6f14b
        volumeMounts:
          - name: vaultwarden-data
            mountPath: /data
        volumes:
          - name: vaultwarden-data
            persistentVolumeClaim:
              claimName: vaultwarden-data
        service: 80
        ingress:
          domain: vaultwarden.cocointhe.cloud
        pvc:
          - vaultwarden-data
