[Unit]
Description=Automated restic backups of nfs server
[Install]
WantedBy=default.target
[Service]
Type=simple
WorkingDirectory={{ nfs.path }}
Environment="HOME=/root"
ExecStart=restic backup -p %d/restic -e nfs-backups/ -r nfs-backups/ .

{% include 'restic_credentials' %}
