---
- name: Bootstrap k3s cluster
  hosts: all
  become: true
  tasks:
    - name: Install curl for all nodes
      apt:
        name: curl
        state: present
        update_cache: yes

    - name: Install k3s server on the master node if not already installed
      shell: |
        curl -sfL https://get.k3s.io | \
        INSTALL_K3S_VERSION={{ k3s_version }} \
        K3S_TOKEN="{{ k3s_token }}" \
        sh -s - \
        --write-kubeconfig-mode 644 \
        --disable-helm-controller \
        --disable=traefik \
        --disable=local-storage \
        --disable=metrics-server \
        --embedded-registry
      args:
        creates: /usr/local/bin/k3s
      when: role == 'control_plane'

    - name: Install k3s agent on worker nodes if not already installed
      shell: |
        curl -sfL https://get.k3s.io | \
        INSTALL_K3S_VERSION={{ k3s_version }} \
        K3S_URL=https://{{ cluster_cp_ip }}:6443 \
        K3S_TOKEN="{{ k3s_token }}" \
        sh -s -
      args:
        creates: /usr/local/bin/k3s
      when: role == 'worker'
