all:
  children:
    lampone:
      hosts:
        drupelet-1:
          ansible_host: 192.168.1.1
          role: control_plane
        drupelet-2:
          ansible_host: 192.168.1.2
          role: worker
        drupelet-3:
          ansible_host: 192.168.1.3
          role: worker
  vars:
    k3s_version: v1.34.3+k3s1
    cluster_cp_ip: 192.168.1.10
    k3s_token: randomtokenforclusterjoin
    mount_unit_name: "nfs.mount"
    mount_device: "/dev/disk/by-label/cluster-data"
    mount_path: "/nfs"
    mount_type: "ext4"
    mount_permissions: "0777"
    tmpfs_mount_point: /var/log/pods
    tmpfs_size: 256M
    ansible_python_interpreter: auto_silent
