apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: longhorn
spec:
  interval: 24h
  url: https://charts.longhorn.io
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 10m
  timeout: 5m
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: longhorn
      version: "1.11.0"
      sourceRef:
        kind: HelmRepository
        name: longhorn
      interval: 1h
  releaseName: longhorn
  values:
    preUpgradeChecker:
      jobEnabled: false
      upgradeVersionCheck: false
    image:
      longhorn:
        # image overloading due to https://github.com/longhorn/longhorn/issues/12578
        instanceManager:
          tag: v1.11.0-hotfix-1
        manager:
          tag: v1.11.0-hotfix-1
    longhornUI:
      # -- Replica count for Longhorn UI.
      replicas: 1
    persistence:
      # -- Setting that allows you to specify the default Longhorn StorageClass.
      defaultClass: false
      reclaimPolicy: Retain
    ingress:
      enabled: true
      ingressClassName: traefik
      host: longhorn.cocointhe.cloud
      tls: true
      annotations:
       traefik.ingress.kubernetes.io/router.middlewares: ingress-oidc@kubernetescrd

