name: flux-local test
permissions:
  contents: read
on:
  push:
    branches-ignore: ["main"]

jobs:
  test:
    name: flux test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Run flux-local test
        uses: docker://ghcr.io/allenporter/flux-local:v8.1.0@sha256:37c3c4309a351830b04f93c323adfcb0e28c368001818cd819cbce3e08828261
        with:
          args: test --enable-helm --all-namespaces --path k8s/flux -v