apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  interval: 10m
  chart:
    spec:
      chart: appchart
      version: "1.7.0"
      sourceRef:
        kind: HelmRepository
        name: appchart
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: loki
        image: grafana/loki:3.6.4@sha256:be31579ac047e9f78b81e48f3b69d3af709e7299b431d5aa78bcda43382f9511
        containerSpec:
          args:
            - -config.file=/etc/loki/local-config.yaml
            - -querier.parallelise-shardable-queries=false
            - -reporting.enabled=false
        volumeMounts:
          - name: loki-data
            mountPath: /loki
        volumes:
          - name: loki-data
            persistentVolumeClaim:
              claimName: loki-data
        service: 3100
        pvc:
          - loki-data
