apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus
spec:
  interval: 24h
  url: https://prometheus-community.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
spec:
  interval: 10m
  chart:
    spec:
      chart: prometheus
      version: "27.45.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus
      interval: 10m
  values:
    prometheus-pushgateway:
      enabled: false
    alertmanager:
      enabled: false
    kube-state-metrics:
      enabled: true
    prometheus-node-exporter:
      enabled: true
    extraScrapeConfigs: |
      - job_name: beem-exporter
        static_configs:
          - targets:
              - beem-exporter:8000
      - job_name: traefik-tunnel
        static_configs:
          - targets:
              - traefik-tunnel-metrics.ingress.svc.cluster.local:9100
